<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login-style.css">
    <title>Login - Diseases Detection</title>
</head>

<body>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="context">
        <div class="banner">
            <div class="navbar">
                <b>
                    <h1 class="logo" color="white">Pneumonia Detector System</h1>
                </b>
                <!-- <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="login.html">Log in</a></li>
                    <li><a href="about.html">About Us</a></li>
                </ul> -->
            </div>
            <!-- <form action="" name=""></form> -->
            <div class="box">
                <div class="container">
                    <div class="top-header">
                        <span>Have An Account?</span>
                        <header>Login</header>
                    </div>
                    <br><br>
                    <div class="input-box">
                        <div class="input-field">
                            <input type="text" id="email" class="input" placeholder="Username" required>
                            <i class="bx bx-user"></i>
                        </div>
                        <br>
                        <div class="input-field">
                            <input type="password" id="password" class="input" placeholder="Password" required>
                            <!-- <i class="bx bx-lock"></i> -->
                            <i><iconify-icon icon="bx:lock"></iconify-icon></i>
                        </div>
                        <br>
                        <div>
                            <a href="register"><span>Create Account</span></a>
                        </div>
                        <br>
                        <div class="input-field button" id="button"><span></span>
                            <button class="submit" id="Login">Login</button>
                        </div>

                        <h2 class="option">OR</h2>
                        <button class="google-signup-button" id="Google"><img src="/static/google-icon.png" alt="Google icon">Sign up with Google</button>
                    </div>
                </div>
            </div>
        </div>
</body>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-analytics.js";
    import { getDatabase } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-database.js";
    import { getAuth, setPersistence, browserSessionPersistence, onAuthStateChanged, signInWithEmailAndPassword, GoogleAuthProvider, signInWithRedirect, getRedirectResult } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-auth.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyDA7INX-OKS5XvT5Zdm7rfNBBzR1yjKdCw",
        authDomain: "authenticationtest-5ba1b.firebaseapp.com",
        databaseURL: "https://authenticationtest-5ba1b-default-rtdb.firebaseio.com",
        projectId: "authenticationtest-5ba1b",
        storageBucket: "authenticationtest-5ba1b.appspot.com",
        messagingSenderId: "869232976582",
        appId: "1:869232976582:web:f28cea5921a4cdaeb1adc7",
        measurementId: "G-L2FFYSKLEF"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
    const database = getDatabase(app);
    const provider = new GoogleAuthProvider(app);
    const google = document.getElementById('Google');
    const auth = getAuth();

    google.addEventListener('click', (e => {
        signInWithRedirect(auth, provider);
        getRedirectResult(auth)
            .then((result) => {
                // This gives you a Google Access Token. You can use it to access Google APIs.
                const credential = GoogleAuthProvider.credentialFromResult(result);
                const token = credential.accessToken;

                // The signed-in user info.
                const user = result.user;
                // IdP data available using getAdditionalUserInfo(result)
                // ...
                window.location.href = "home";
                // window.location.href = "home";
            }).catch((error) => {
                // Handle Errors here.
                const errorCode = error.code;
                const errorMessage = error.message;
                // The email of the user's account used.
                const email = error.customData.email;
                // The AuthCredential type that was used.
                const credential = GoogleAuthProvider.credentialFromError(error);
                // ...
            });
    }));

    onAuthStateChanged(auth, (user) => {
        if (user) {
            // User is already logged in
            window.location.href = "home"; //  Redirect to home page
            // window.location.href = "home.html"; // Redirect to home page
        }
    });
    const Login = document.getElementById('Login');
    Login.addEventListener('click', (e) => {
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;

        signInWithEmailAndPassword(auth, email, password)
            .then((userCredential) => {
                // Signed in 
                const user = userCredential.user;
                // window.location.href = "home.html";
                window.location.href ="home";
                alert('Login Successfully');
                // ...
            })
            .catch((error) => {
                const errorCode = error.code;
                const errorMessage = error.message;
                alert(errorMessage);
            });
    });


    ScrollReveal({
        reset: true,
        distance: '80px',
        duration: 1500,
        delay: 100
    });

    ScrollReveal().reveal('.top-header span', { origin: 'top' })
    ScrollReveal().reveal('.top-header header', { origin: 'left' })
</script>
<script src="https://unpkg.com/scrollreveal"></script>

</html>